:root {
    --blue-dark: #5361ac;
    --blue-light: #0fabd6;
    --lite-green: #9ace48;
    --bg-main: #f0f8ff;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-family: "Montserrat", sans-serif;
    font-size: 62.5%; /* 1rem = 10px */
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    background-color: var(--bg-main);
    font-size: 1.3rem;
    line-height: 1.5;
}

.img {
    width: 100%;
}

.wrapper {
    margin: 0 15px;
    @media (min-width: 576px) {
        max-width: 540px;
        margin: 0 auto;
    }
    @media (min-width: 768px) {
        max-width: 720px;
    }
    @media (min-width: 992px) {
        max-width: 960px;
    }
    @media (min-width: 1200px) {
        max-width: 1140px;
    }
}

.header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1000;
    &__top-line {
        display: none;
        padding: 5px 0;
        color: white;
        @media (min-width: 768px) {
            display: flex;
            background-color: var(--blue-dark);
        }
    }
    &__wrapper {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    &__mail,
    &__tel {
        color: white;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
            color: var(--blue-light);
        }
    }
    &__mail {
        &::before {
            content: "\f0e0";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            margin-right: 5px;
            &:hover {
                text-decoration: none;
            }
        }
    }
    &__tel {
        &::before {
            content: "\f879";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            margin-right: 5px;
            &:hover {
                text-decoration: none;
            }
        }
    }
    &__main {
        display: flex;
        justify-content: space-between;
    }
    &__logo {
        max-width: 170px;
        @media (min-width: 768px) {
            max-width: 250px;
        }
    }
    &__hamburger {
        align-self: center;
        cursor: pointer;
        @media (min-width: 992px) {
            display: none;
        }
    }
    &__nav {
        position: fixed;
        top: 89px;
        left: 100%;
        height: 85vh;
        width: 100%;
        opacity: 0;
        transition: all 1s;
        @media (min-width: 768px) {
            top: 158px;
        }
        @media (min-width: 992px) {
            position: static;
            display: flex;
            width: 60%;
            height: auto;
            align-items: center;
            opacity: 1;
        }
    }
}

.icon {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    color: white;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    &:not(:last-child) {
        margin-right: 5px;
    }
    &:hover {
        color: var(--blue-light);
        text-decoration: none;
    }
}

.nav {
    &.active {
        position: fixed;
        top: 89px;
        left: 0;
        width: 100%;
        height: 88vh;
        background-color: #fff;
        opacity: 1;
        @media (min-width: 375px) {
            top: 89px;
        }
        @media (min-width: 768px) {
            top: 158px;
        }
        @media (min-width: 992px) {
            position: static;
            width: 60%;
            height: auto;
        }
    }
    &__list {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        list-style: none;
        text-align: center;
        @media (min-width: 992px) {
            flex-direction: row;
            font-size: 1.7rem;
        }
    }
    &__item {
        padding: 20px 0;
        border-bottom: 1px solid #000;
        @media (min-width: 992px) {
            border-bottom: none;
        }
    }
    &__link {
        display: block;
        padding: 20px 0;
        text-decoration: none;
    }
}

.hamburger {
    &__line {
        width: 30px;
        height: 1px;
        background-color: black;
        transition: 0.4s;
        &:not(:last-child) {
            margin-bottom: 5px;
        }
    }
}

.open {
    .line-1 {
        transform: rotate(45deg);
    }
    .line-2 {
        opacity: 0;
    }
    .line-3 {
        transform: rotate(-45deg) translate(7px, -9px);
    }
}

.section {
    padding-top: 60px;
    @media (min-width: 992px) {
        padding-top: 90px;
    }
    &__hero {
        position: relative;
        height: 80vh;
        background-image: url(../img/hero-500.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        @media (min-width: 768px) {
            background-image: url(../img/hero-900.jpg);
        }
        @media (min-width: 992px) {
            background-image: url(../img/hero-1280.jpg);
        }
        @media (min-width: 1281px) {
            background-image: url(../img/hero.jpg);
        }
    }
    &__about-us {
        @media (min-width: 992px) {
            padding-top: 130px;
        }
    }
    &__heading {
        margin: 30px 0;
        font-size: 2.3rem;
        color: var(--blue-light);
        text-align: center;
        &--sub {
            display: block;
            color: var(--blue-dark);
        }
    }
    &__article {
        display: flex;
        flex-direction: column;
        @media (min-width: 992px) {
            flex-direction: row;
        }
    }
    &__description {
        padding: 20px;
        background-color: #fff;
        border-radius: 15px;
        font-size: 1.3rem;
        text-align: justify;
        @media (min-width: 768px) {
            font-size: 1.3rem;
        }
        @media (min-width: 992px) {
            position: relative;
            left: 100px;
            width: 50%;
            padding: 10px;
            align-self: center;
            font-size: 1.4rem;
        }
    }
    &__img-box {
        width: 100%;
        order: -1;
        @media (min-width: 992px) {
            width: 50%;
            order: 1;
        }
        &--left {
            @media (min-width: 992px) {
                width: 50%;
                order: -1;
            }
        }
    }
    &__btn {
        float: right;
        margin: 10px;
        padding: 10px;
        border: 1px solid var(--blue-dark);
        border-radius: 5px;
        background-color: var(--blue-dark);
        color: #fff;
        transition: all 1s;
        cursor: pointer;
        &:hover {
            background-color: #fff;
            color: var(--blue-dark);
            transition: all 1s;
        }
    }
    &__img {
        width: 100%;
    }
    &__our-statements {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        padding: 20px;
        border-radius: 5px;
        @media (min-width: 768px) {
            flex-direction: row;
            justify-content: space-between;
        }
    }
    &__testimonials {
        position: relative;
        height: 80vh;
        background-image: url(../img/consultation-1.jpg);
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
    }
    &__tile-grid {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }
}

.hero {
    &__heading {
        position: absolute;
        top: 50%;
        font-size: 3rem;
        color: var(--blue-dark);
        text-align: center;
        transform: translateY(-50%);
        @media (min-width: 768px) {
            font-size: 3.4rem;
        }
    }
}

.our-offer {
    &__list,
    &__subheader {
        font-size: 1.3rem;
        @media (min-width: 768px) {
            font-size: 1.3rem;
        }
    }
    &__list {
        padding: 20px;
        border-radius: 15px;
        background: white;
        @media (min-width: 992px) {
            position: relative;
            left: 100px;
            width: 50%;
            padding: 20px;
            font-size: 1.4rem;
            align-self: center;
        }
        &--left {
            position: static;
            left: auto;
            width: 100%;
        }
        &--rigth {
            right: 100px;
            left: auto;
        }
    }
    &__item {
        margin-bottom: 10px;
    }
    &__subheader {
        display: list-item;
        margin-left: 20px;
        margin-bottom: 10px;
        list-style-type: disc;
        list-style-position: outside;
    }
    p {
        margin-bottom: 10px;
    }
}

.our-statements {
    strong {
        color: var(--blue-dark);
    }
    p {
        margin-bottom: 20px;
        @media (min-width: 992px) {
            font-size: 1.4rem;
        }
    }
    &__mission,
    &__vision {
        @media (min-width: 768px) {
            width: 48%;
        }
    }
}

.testimonials {
    &__comment {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 3.4rem;
        font-weight: bold;
        color: var(--blue-dark);
    }
}

.services {
    &__tile {
        display: flex;
        flex-direction: column;
        width: 320px;
        margin: 15px;
        padding: 15px;
        background-color: #fff;
        border-radius: 5px;
        font-size: 2.1rem;
        align-items: center;
        text-align: center;
    }
}

.tile {
    &__icon {
        display: block;
        width: 32pt;
        height: 32pt;
        margin-bottom: 20px;
        fill: var(--blue-dark);
    }
}
