:root {
  --blue-dark: #5361ac;
  --blue-light: #0fabd6;
  --lite-green: #9ace48;
  --bg-main: #f0f8ff; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-family: "Montserrat", sans-serif;
  font-size: 62.5%;
  /* 1rem = 10px */
  scroll-behavior: smooth; }

body {
  box-sizing: border-box;
  background-color: var(--bg-main);
  font-size: 1.3rem;
  line-height: 1.5; }

.img {
  width: 100%; }

.wrapper {
  margin: 0 15px; }
  @media (min-width: 576px) {
    .wrapper {
      max-width: 540px;
      margin: 0 auto; } }
  @media (min-width: 768px) {
    .wrapper {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .wrapper {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .wrapper {
      max-width: 1140px; } }

.header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1000; }
  .header__top-line {
    display: none;
    padding: 5px 0;
    color: white; }
    @media (min-width: 768px) {
      .header__top-line {
        display: flex;
        background-color: var(--blue-dark); } }
  .header__wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between; }
  .header__mail, .header__tel {
    color: white;
    text-decoration: none; }
    .header__mail:hover, .header__tel:hover {
      text-decoration: underline;
      color: var(--blue-light); }
  .header__mail::before {
    content: "\f0e0";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 5px; }
    .header__mail::before:hover {
      text-decoration: none; }
  .header__tel::before {
    content: "\f879";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 5px; }
    .header__tel::before:hover {
      text-decoration: none; }
  .header__main {
    display: flex;
    justify-content: space-between; }
  .header__logo {
    max-width: 170px; }
    @media (min-width: 768px) {
      .header__logo {
        max-width: 250px; } }
  .header__hamburger {
    align-self: center;
    cursor: pointer; }
    @media (min-width: 992px) {
      .header__hamburger {
        display: none; } }
  .header__nav {
    position: fixed;
    top: 89px;
    left: 100%;
    height: 85vh;
    width: 100%;
    opacity: 0;
    transition: all 1s; }
    @media (min-width: 768px) {
      .header__nav {
        top: 158px; } }
    @media (min-width: 992px) {
      .header__nav {
        position: static;
        display: flex;
        width: 60%;
        height: auto;
        align-items: center;
        opacity: 1; } }

.icon {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  color: white;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased; }
  .icon:not(:last-child) {
    margin-right: 5px; }
  .icon:hover {
    color: var(--blue-light);
    text-decoration: none; }

.nav.active {
  position: fixed;
  top: 89px;
  left: 0;
  width: 100%;
  height: 88vh;
  background-color: #fff;
  opacity: 1; }
  @media (min-width: 375px) {
    .nav.active {
      top: 89px; } }
  @media (min-width: 768px) {
    .nav.active {
      top: 158px; } }
  @media (min-width: 992px) {
    .nav.active {
      position: static;
      width: 60%;
      height: auto; } }

.nav__list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  list-style: none;
  text-align: center; }
  @media (min-width: 992px) {
    .nav__list {
      flex-direction: row;
      font-size: 1.7rem; } }

.nav__item {
  padding: 20px 0;
  border-bottom: 1px solid #000; }
  @media (min-width: 992px) {
    .nav__item {
      border-bottom: none; } }

.nav__link {
  display: block;
  padding: 20px 0;
  text-decoration: none; }

.hamburger__line {
  width: 30px;
  height: 1px;
  background-color: black;
  transition: 0.4s; }
  .hamburger__line:not(:last-child) {
    margin-bottom: 5px; }

.open .line-1 {
  transform: rotate(45deg); }

.open .line-2 {
  opacity: 0; }

.open .line-3 {
  transform: rotate(-45deg) translate(7px, -9px); }

.section {
  padding-top: 60px; }
  @media (min-width: 992px) {
    .section {
      padding-top: 90px; } }
  .section__hero {
    position: relative;
    height: 80vh;
    background-image: url(../img/hero-500.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    @media (min-width: 768px) {
      .section__hero {
        background-image: url(../img/hero-900.jpg); } }
    @media (min-width: 992px) {
      .section__hero {
        background-image: url(../img/hero-1280.jpg); } }
    @media (min-width: 1281px) {
      .section__hero {
        background-image: url(../img/hero.jpg); } }
  @media (min-width: 992px) {
    .section__about-us {
      padding-top: 130px; } }
  .section__heading {
    margin: 30px 0;
    font-size: 2.3rem;
    color: var(--blue-light);
    text-align: center; }
    .section__heading--sub {
      display: block;
      color: var(--blue-dark); }
  .section__article {
    display: flex;
    flex-direction: column; }
    @media (min-width: 992px) {
      .section__article {
        flex-direction: row; } }
  .section__description {
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    font-size: 1.3rem;
    text-align: justify; }
    @media (min-width: 768px) {
      .section__description {
        font-size: 1.3rem; } }
    @media (min-width: 992px) {
      .section__description {
        position: relative;
        left: 100px;
        width: 50%;
        padding: 10px;
        align-self: center;
        font-size: 1.4rem; } }
  .section__img-box {
    width: 100%;
    order: -1; }
    @media (min-width: 992px) {
      .section__img-box {
        width: 50%;
        order: 1; } }
    @media (min-width: 992px) {
      .section__img-box--left {
        width: 50%;
        order: -1; } }
  .section__btn {
    float: right;
    margin: 10px;
    padding: 10px;
    border: 1px solid var(--blue-dark);
    border-radius: 5px;
    background-color: var(--blue-dark);
    color: #fff;
    transition: all 1s;
    cursor: pointer; }
    .section__btn:hover {
      background-color: #fff;
      color: var(--blue-dark);
      transition: all 1s; }
  .section__img {
    width: 100%; }
  .section__our-statements {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px; }
    @media (min-width: 768px) {
      .section__our-statements {
        flex-direction: row;
        justify-content: space-between; } }
  .section__testimonials {
    position: relative;
    height: 80vh;
    background-image: url(../img/consultation-1.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover; }
  .section__tile-grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around; }

.hero__heading {
  position: absolute;
  top: 50%;
  font-size: 3rem;
  color: var(--blue-dark);
  text-align: center;
  transform: translateY(-50%); }
  @media (min-width: 768px) {
    .hero__heading {
      font-size: 3.4rem; } }

.our-offer__list, .our-offer__subheader {
  font-size: 1.3rem; }
  @media (min-width: 768px) {
    .our-offer__list, .our-offer__subheader {
      font-size: 1.3rem; } }

.our-offer__list {
  padding: 20px;
  border-radius: 15px;
  background: white; }
  @media (min-width: 992px) {
    .our-offer__list {
      position: relative;
      left: 100px;
      width: 50%;
      padding: 20px;
      font-size: 1.4rem;
      align-self: center; } }
  .our-offer__list--left {
    position: static;
    left: auto;
    width: 100%; }
  .our-offer__list--rigth {
    right: 100px;
    left: auto; }

.our-offer__item {
  margin-bottom: 10px; }

.our-offer__subheader {
  display: list-item;
  margin-left: 20px;
  margin-bottom: 10px;
  list-style-type: disc;
  list-style-position: outside; }

.our-offer p {
  margin-bottom: 10px; }

.our-statements strong {
  color: var(--blue-dark); }

.our-statements p {
  margin-bottom: 20px; }
  @media (min-width: 992px) {
    .our-statements p {
      font-size: 1.4rem; } }

@media (min-width: 768px) {
  .our-statements__mission, .our-statements__vision {
    width: 48%; } }

.testimonials__comment {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3.4rem;
  font-weight: bold;
  color: var(--blue-dark); }

.services__tile {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 15px;
  padding: 15px;
  background-color: #fff;
  border-radius: 5px;
  font-size: 2.1rem;
  align-items: center;
  text-align: center; }

.tile__icon {
  display: block;
  width: 32pt;
  height: 32pt;
  margin-bottom: 20px;
  fill: var(--blue-dark); }
